<div class="page-wrapper body-bg-color-1">
    <app-ipromise-header></app-ipromise-header>
    <div class="stricky-header stricked-menu main-menu main-menu-two">
        <div class="sticky-header__content"></div><!-- /.sticky-header__content -->
    </div><!-- /.stricky-header -->


    <!--Page Header Start-->
    <section class="page-header">
        <div class="page-header__bg" style="background-image: url(assets/images/backgrounds/page-header-bg.jpg);">
        </div>
        <div class="container">
            <div class="page-header__inner">
                <div class="page-header__title-box">
                    <p>RIM</p>
                    <h4>THE GENESIS OF Jithu C.S IN THE NAME OF JESUS CHRIST
                    </h4>
                </div>
                <div class="thm-breadcrumb__box">
                    <ul class="thm-breadcrumb list-unstyled">
                        <li><a href="">Home</a></li>
                        <li><span>/</span></li>
                        <li>THE GENESIS OF Jithu C.S IN THE NAME OF JESUS CHRIST
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!--Page Header End-->

    <section class="blog-details">
        <div class="section-shape-1" style="background-image: url(assets/images/shapes/blog-details-sec-shape-1.png);">
        </div>
        <div class="container">
            <div class="row">
                <app-rim-section-b></app-rim-section-b>
                <div class="col-xl-8 col-lg-7">
                    <div class="blog-details__left">
                        <!-- <div class="blog-details__img">
                            <img src="assets/images/blog/blog-details-img-1.jpg" alt="">
                        </div> -->
                     
                        <div class="blog-details__content">
                           
                            <h3 class="blog-details__title-1 mt-3">THE GENESIS OF Jithu C.S IN THE NAME OF JESUS CHRIST
                            </h3>
                            <h4 class="mt-3"> Jithu C.S </h4>


                            <div class="blog-details__img mt-3">
                                <img src="assets/images/blog/JCS_Header.jpg" alt="">
                            </div>
                            <h4 class="mt-3"> 1 Samuel 16:7;13;17 New King James Version </h4>
                            <p class="blog-details__text-1 mt-3">
                                7 But the LORD said to Samuel, “Do not look at his appearance or at his physical
                                stature,
                                because I have refused him. For the LORD does not see as man sees; for man
                                looks at the outward appearance, but the LORD looks at the heart.”
                            </p>
                            <p class="blog-details__text-1 mt-3">
                                13 Then Samuel took the horn of oil and anointed him in the midst of his brothers;
                                and the Spirit of the LORD came upon David from that day forward.
                                So Samuel arose and went to Ramah. </p>
                            <p class="blog-details__text-1 mt-3">
                                17 So Saul said to his servants, “Provide me now a man who can play well, and bring him
                                to me.”
                              
                            </p>
                            <p class="blog-details__text-1 mt-3">
                            God willing the Holy Spirit will anoint Jithu C.S to write his testimony in His time. </p>
                            <h4 class="mt-3"> 1ST MISSION AND MINISTRY </h4>
                            <div class="blog-details__img mt-3">
                                <img src="assets/images/blog/1ST-MM_Header.jpg" alt="">
                            </div>
                            <h4 class="mt-3"> Acts 22:14 Amplified Bible, Classic Edition</h4>
                            <p class="blog-details__text-1 mt-3">
                                14 And he said, The God of our forefathers has destined and appointed you to come
                                progressively to know His will [to perceive, to recognize more strongly and clearly, and
                                to become better and more intimately acquainted with His will], and to see the Righteous
                                One (Jesus Christ, the Messiah), and to hear a voice from His [own] mouth and a message
                                from His [own] lips;
                            </p>
                            <h4 class="mt-3">Isaiah 61:1-7 NKJV - The Good News of Salvation - “The - Bible Gateway"</h4>

                            <p class="blog-details__text-1 mt-3"> 61 “The Spirit of the Lord GOD is upon Me,
                                Because the LORD has anointed Me
                                To preach good tidings to the poor;
                                He has sent Me to [a]heal the brokenhearted,
                                To proclaim liberty to the captives, </p>
                            <h4 class="mt-3"> 2 Corinthians 12:12 New King James Version </h4>


                            <p class="blog-details__text-1 mt-3"> 12 Truly the signs of an apostle were accomplished
                                among you with all perseverance, in signs
                                and wonders and mighty deeds.</p>
                            <p class="blog-details__text-1 mt-3">
                                God willing the Holy Spirit will anoint Jithu C.S to write his 1st mission and ministry
                                testimony in His time.</p>
                            <h4 class="mt-3"> RIM </h4>
                            <div class="blog-details__img mt-3">
                                <img src="assets/images/blog/RMI_Header.jpg" alt="">
                            </div>

                            <h4 class="mt-3"> Isaiah 42 New King James Version </h4>
                            <p class="blog-details__text-1 mt-3"> 42 “Behold! My Servant whom I uphold,
                                My Elect One in whom My soul delights!
                                I have put My Spirit upon Him; </p>


                            <h4 class="mt-3"> Jeremiah 1:5 New King James Version </h4>
                            <p class="blog-details__text-1 mt-3"> 5 “Before I formed you in the womb I knew you;
                                Before you were born I sanctified you;
                                I ordained you a prophet to the nations.” </p>

                            <h4 class="mt-3"> Acts 5:12 New King James Version </h4>
                            <p class="blog-details__text-1 mt-3">
                                12 And through the hands of the apostles many signs and wonders were done among the
                                people. And they were all with one accord in Solomon’s Porch.
                            </p>
                            <h4 class="mt-3"> Isaiah 11 New King James Version </h4>
                            <p class="blog-details__text-1 mt-3"> 11 There shall come forth a Rod from the stem of
                                Jesse,
                                And a Branch shall grow out of his roots.
                                2 The Spirit of the LORD shall rest upon Him,
                                The Spirit of wisdom and understanding,
                                The Spirit of counsel and might,
                                The Spirit of knowledge and of the fear of the LORD.
                                3 His delight is in the fear of the LORD,
                                And He shall not judge by the sight of His eyes,
                                Nor decide by the hearing of His ears;
                                4 But with righteousness He shall judge the poor,
                                And decide with equity for the meek of the earth;
                                He shall strike the earth with the rod of His mouth,
                                And with the breath of His lips He shall slay the wicked.
                                5 Righteousness shall be the belt of His loins,
                                And faithfulness the belt of His waist. </p>

                            <h4 class="mt-3"> Revelation 5:6 New King James Version </h4>
                            <p class="blog-details__text-1 mt-3"> 6 And I looked, and behold, in the midst of the throne
                                and of the four living creatures, and in the midst of the elders, stood a Lamb as though
                                it had been slain, having seven horns and seven eyes, which are the seven Spirits of God
                                sent out into all the earth.
                            </p>

                            <h4 class="mt-3"> Exodus 27:5 New King James Version </h4>
                            <p class="blog-details__text-1 mt-3"> 5 You shall put it under the rim of the altar beneath,
                                that the network may be midway up the altar.
                            </p>
                            <h4 class="mt-3"> Ezekiel 1:18 New King James Version </h4>
                            <p class="blog-details__text-1 mt-3"> 18 As for their rims, they were so high they were
                                awesome; and their rims were full of eyes,
                                all around the four of them.
                                God willing the Holy Spirit will anoint Jithu C.S to write on RIM in His time
                            </p>

                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-5">
                    <app-blog-side></app-blog-side>
                </div>
            </div>
        </div>
    </section>


    <app-ipromise-footer></app-ipromise-footer>
</div>