<header class="main-header-two">
    <div class="section-shape-1" style="background-image: url(assets/images/shapes/section-shape-1.png);"></div>
    <nav class="main-menu main-menu-two">
        <div class="main-menu-two__wrapper">
            <div class="main-menu-two__wrapper-inner">
                <div class="main-menu-two__left">
                    <div class="main-menu-two__logo">
                        <a href="">
                            <img src="assets/images/resources/logo-1.png" alt="" style="height: 60px;">
                        </a>
                    </div>
                </div>
                <div class="main-menu-two__right">
                    <div class="main-menu-two__main-menu-box">
                        <a href="#" class="mobile-nav__toggler"><i class="fa fa-bars"></i></a>
                        <ul class="main-menu__list">
                            <li>
                                <a href="">RIM</a>
                            </li>
                            <li>
                                <a href="jcs">JCS</a>
                            </li>
                           
                            <li class="dropdown">
                                <a href="apostolic">APOSTOLIC</a>
                                <ul>
                                    <li><a href="dominion">DOMINION</a></li>
                                    <li><a href="various-miracles">VARIOUS MIRACLES</a></li>
                                    <li><a href="signs-and-wonders">SIGNS & WONDERS</a></li>
                                    <li><a href="gifts">GIFTS</a></li>
                                </ul>
                            </li>

                            <li class="dropdown">
                                <a href="prophetic">PROPHETIC</a>
                                <ul>
                                    <li><a href="supernatural">SUPERNATURAL</a></li>
                                    <li><a href="superstars">FILMSTARS</a></li>
                                    <li><a href="bigwig"> BIGWIG</a></li>
                                    <li class="dropdown">  <a href="prophetic">PROPHECIES
                                    </a>
                                        <ul>
                                            <li><a href="district-prophecies"> DISTRICT PROPHECIES</a></li>
                                            <li><a href="state-prophecies">STATE PROPHECIES</a></li>
                                            <li><a href="national-prophecies">NATIONAL PROPHECIES</a></li>
                                            <li><a href="global-prophecies">INTERNATIONAL PROPHECIES</a></li>
                                            </ul>
                                     </li>
                                </ul>
                            </li>

                            <li>
                                <a href="ministry">MINISTRY</a>
                            </li>
                            <li>
                                <a href="message">MESSAGE</a>
                            </li>
                            <li>
                                <a href="meeting">MEETING</a>
                            </li>

                        </ul>
                    </div>
                    <div class="main-menu-two__search-and-nav-sidebar-icon">

                        <div class="main-menu-two__nav-sidebar-icon">
                            <a class="navSidebar-button" href="#">
                                <span class="icon-text"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>