
<div class="page-wrapper body-bg-color-1">
    <app-ipromise-header></app-ipromise-header>
    <section class="page-header">
        <div class="section-shape-1" style="background-image: url(assets/images/shapes/section-shape-11.png);"></div>
        <div class="container">
            <div class="page-header__inner">
                <div class="page-header__title-box">
                    <p>Royal International Ministries</p>
                    <h3>MEETING</h3>
                </div>
                <div class="thm-breadcrumb__box">
                    <ul class="thm-breadcrumb list-unstyled">
                        <li><a href="">RIM</a></li>
                        <li><span>/</span></li>
                        <li>MEETING</li>
                    </ul>
                </div>
            </div>
        </div>
    </section> 


  <!--Contact Page Start-->
    <section class="contact-page">
        <div class="section-shape-1" style="background-image: url(assets/images/shapes/section-shape-1.png);"></div>
        <div class="container">
            <div class="contact-page__inner">
                <div class="row">
                    <div class="col-xl-5 col-lg-5">
                        <div class="contact-page__left">
                            <div class="contact-page__information">
                                <h3 class="contact-page__information-title">HIS PRESENCE</h3>
                                <ul class="contact-page__information-list list-unstyled">
                                    <li>
                                        <div class="icon">
                                            <span class="icon-pin" style="color: #000;"></span>
                                        </div>
                                        <div class="content">
                                            <h3>Address</h3>
                                            <p>Bethel, 695573, Trivandrum, Kerala, India.</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <span class="icon-trading" style="color: #000;"></span>
                                        </div>
                                        <div class="content">
                                            <h3>Contact Number</h3>
                                            <p><a href="tel:917034001777">+91 7034 001 777</a></p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon" >
                                            <span class="icon-envelope-1" style="color: #000;"></span>
                                        </div>
                                        <div class="content">
                                            <h3>Email Us</h3>
                                            <p><a href="mailto:rimjcs777&#64;gmail.com">rimjcs777&#64;gmail.com</a>
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>


                    <div class="col-xl-7 col-lg-7">
                        <div class="contact-page__right">
                            <h3 class="contact-page__contact-title">WRITE</h3>
                            <!-- <form [formGroup]="ContactFrm" (ngSubmit)="feedback()"> -->
                                <form>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="contact-page__input-box">
                                            <input type="text" name="name" placeholder="Your name" required="">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="contact-page__input-box">
                                            <input type="email" name="email" placeholder="Your Email" required="">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="contact-page__input-box">
                                            <input type="number" placeholder="Mobile" name="number">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="contact-page__input-box">
                                            <input type="text" placeholder="Ministry" name="ministry">
                                        </div>
                                    </div>
                                    <div class="col-xl-12">
                                        <div class="contact-page__input-box text-message-box">
                                            <textarea name="message" placeholder="Messege"></textarea>
                                        </div>
                                        <div class="contact-page__btn-box">
                                            <button type="submit" class="thm-btn contact-page__btn"
                                                data-loading-text="Please wait...">
                                                SEND
                                                <span class="icon-up-right-arrow"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <p class="ajax-response mb-0 error"></p>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </section>
    <!--Contact Page End-->

   

    <!--Google Map Start-->
    <section class="google-map-one">
        <div class="section-shape-1" style="background-image: url(assets/images/shapes/section-shape-1.png);"></div>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3945.9772560697456!2d77.0226319!3d8.5015888!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b05b1f2a6d02931%3A0x879908cd78c9e2bb!2sSkylark%20gardens%2C%20Medicare%20lane%2C%20Perukavu%20P%20O%2C%20695573%2CTrivandrum%2C%20Kerala.!5e0!3m2!1sen!2sin!4v1751602472612!5m2!1sen!2sin"
            class="google-map__one" allowfullscreen></iframe>
              </section>
    <!--Google Map End-->
    <app-ipromise-footer></app-ipromise-footer>
</div>