<div class="page-wrapper body-bg-color-1">
    <app-ipromise-header></app-ipromise-header>
    <div class="stricky-header stricked-menu main-menu main-menu-two">
        <div class="sticky-header__content"></div><!-- /.sticky-header__content -->
    </div><!-- /.stricky-header -->


    <!--Page Header Start-->
    <section class="page-header">
        <div class="section-shape-1" style="background-image: url(assets/images/shapes/section-shape-11.png);"></div>
        <div class="container">
            <div class="page-header__inner">
                <div class="page-header__title-box">
                    <p>RIM</p>
                    <h4>JCS
                    </h4>
                </div>
                <div class="thm-breadcrumb__box">
                    <ul class="thm-breadcrumb list-unstyled">
                        <li><a href="">Home</a></li>
                        <li><span>/</span></li>
                        <li>JCS
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!--Page Header End-->

    <section class="blog-details">
        <div class="section-shape-1" style="background-image: url(assets/images/shapes/blog-details-sec-shape-1.png);">
        </div>
        <div class="container">
            <div class="row">
                <!-- <app-rim-section-b></app-rim-section-b> -->
                <div class="col-xl-8 col-lg-7">
                    <div class="blog-details__left">
                       
                        <div class="blog-details__img mt-3">
                            <img src="assets/images/blog/JCS_Header.jpg" alt="">
                        </div>
                     
                        <div class="blog-details__content">
                            <div class="blog-details__meta-and-share">
                                <ul class="blog-details__meta list-unstyled">
                                    <li>
                                        <a href="#"><span class="icon-user"></span>By JITHU CS </a>
                                    </li>
    
                                </ul>
                                <div class="blog-details__share" style="position: relative;">
                                    <a href="#" onclick="copyCurrentURL(event)">
                                      <span class="fas fa-share-alt"></span>
                                    </a>
                                    <span id="tooltip" style="
                                        position: absolute;
                                        top: -30px;
                                        left: 50%;
                                        transform: translateX(-50%);
                                        background: #333;
                                        color: #fff;
                                        padding: 5px 10px;
                                        border-radius: 4px;
                                        font-size: 12px;
                                        opacity: 0;
                                        pointer-events: none;
                                        transition: opacity 0.3s ease;
                                      ">
                                      Copied!
                                    </span>
                                  </div>
                            </div>
                          
                            <h4 class="mt-3"> JITHU CS </h4>


                      
                            <h4 class="mt-3"> 1 Samuel 16:7;13;17 New King James Version </h4>
                            <p class="blog-details__text-1 mt-3">
                                7 But the LORD said to Samuel, “Do not look at his appearance or at his physical
                                stature,
                                because I have refused him. For the LORD does not see as man sees; for man
                                looks at the outward appearance, but the LORD looks at the heart.”
                            </p>
                            <p class="blog-details__text-1 mt-3">
                                13 Then Samuel took the horn of oil and anointed him in the midst of his brothers;
                                and the Spirit of the LORD came upon David from that day forward.
                                So Samuel arose and went to Ramah. </p>
                            <p class="blog-details__text-1 mt-3">
                                17 So Saul said to his servants, “Provide me now a man who can play well, and bring him
                                to me.”
                               
                            </p>
                            <p class="blog-details__text-1 mt-3">
                           
                                God willing the Holy Spirit will anoint JITHU CS to write JCS’s testimony in His time.
                            </p>
  </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-5">
                    <app-blog-side></app-blog-side>
                </div>
            </div>
        </div>
    </section>


    <app-ipromise-footer></app-ipromise-footer>
</div>