<div class="page-wrapper body-bg-color-1">
    <app-ipromise-header></app-ipromise-header>
    <div class="stricky-header stricked-menu main-menu main-menu-two">
        <div class="sticky-header__content"></div>
    </div>

    <section class="page-header">
        <div class="section-shape-1" style="background-image: url(assets/images/shapes/section-shape-11.png);"></div>
        <div class="container">
            <div class="page-header__inner">
                <div class="page-header__title-box">
                    <p>RIM</p>
                    <h4>

                        STATE PROPHECIES
                    </h4>
                </div>
                <div class="thm-breadcrumb__box">
                    <ul class="thm-breadcrumb list-unstyled">
                        <li><a href="">Home</a></li>
                        <li><span>/</span></li>
                        <li>
                            STATE PROPHECIES </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="blog-details">
        <div class="section-shape-1" style="background-image: url(assets/images/shapes/blog-details-sec-shape-1.png);">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-7">
                    <div class="blog-details__left">

                        <div class="blog-details__img mb-3">
                            <img src="assets/images/blog/2_STATE_Header.jpg" alt="">
                        </div>

                        <div class="blog-details__content">
                            <div class="blog-details__meta-and-share">
                                <ul class="blog-details__meta list-unstyled">
                                    <li>
                                        <a href="#"><span class="icon-user"></span>By JITHU CS </a>
                                    </li>

                                </ul>
                                <div class="blog-details__share" style="position: relative;">
                                    <a href="#" onclick="copyCurrentURL(event)">
                                        <span class="fas fa-share-alt"></span>
                                    </a>
                                    <span id="tooltip" style="
                                        position: absolute;
                                        top: -30px;
                                        left: 50%;
                                        transform: translateX(-50%);
                                        background: #333;
                                        color: #fff;
                                        padding: 5px 10px;
                                        border-radius: 4px;
                                        font-size: 12px;
                                        opacity: 0;
                                        pointer-events: none;
                                        transition: opacity 0.3s ease;
                                      ">
                                        Copied!
                                    </span>
                                </div>

                            </div>

                            <h3 class="mt-3">
                                STATE PROPHECIES </h3>

                            <div class="blog-details__img mt-5">
                                <img src="assets/images/blog/1_Kerala_Flood_2018.jpg" alt="">
                            </div>


                            <h3 class="mt-3"> STATE: KERALA, INDIA </h3>

                            <div class="service-details__points-box mt-3">

                                <ul class="service-details__points-list list-unstyled">
                                    <li>
                                        PROPHECY: JITHU CS was informed by the Holy Spirit
                                        that a great disaster will happen in Kerala which will be a sign for the coming
                                        revival in Kerala according to 1 Kings 19:12.
                                    </li>


                                    <li>

                                        DATE OF THE PROPHECY: Unknown (Could be in April 2018)
                                    </li>
                                    <li>

                                        DATE OF THE EVENT: 8 August 2018 to 20 August 2020
                                    </li>
                                    <li>

                                        DATE OF FULFILLMENT: 8 August 2018
                                    </li>
                                    <li>

                                        NEWS: Over 483 people died, and about one million people were evacuated, all the
                                        14
                                        districts of Kerala affected by the flood making it the worst more than a 100
                                        years.
                                    </li>
                                    <li>

                                        INVOLVEMENT: JITHU CS was given the opportunity to lead the prayer sessions during
                                        the Kerala
                                        flood 2018 in a seminary.
                                    </li>
                                    <li>

                                        DECLARING THE DECREE: God through Jesus Christ by the power of the Holy Spirit
                                        confirmed the
                                        coming of a revival in Kerala to exalt His name because "salvation is found in
                                        no one else, for there is no other name under heaven given to mankind by which
                                        we must be saved." Amen.
                                    </li>
                                </ul>
                            </div>

                            <br>

                            <div class="blog-details__img mt-3">
                                <img src="assets/images/blog/2_Kerala_Flood_2020.jpg" alt="">
                            </div>


                            <h3 class="mt-3"> STATE: KERALA, INDIA </h3>

                            <div class="service-details__points-box mt-3">

                                <ul class="service-details__points-list list-unstyled">
                                    <li>

                                        DREAM: JITHU CS thought of seeking the Lord in 2019 to know if there would be another
                                        flood in Kerala because of the Kerala flood 2018, and then very soon a flood hit
                                        Assam, later Kerala was also hit by a flood, killed 121 lives, affected 13
                                        districts and 1038 villages, causing significant damage to 21,264 houses. The
                                        next year JITHU CS saw a dream of flood in Kerala affecting Ernakulam and Trivandrum.
                                    </li>
                                    <li>
                                        DATE OF THE DREAM: 20 June 2020
                                    </li>

                                    <li>
                                        DATE OF THE EVENT: 7 August 2020
                                    </li>

                                    <li>
                                        DATE OF FULFILLMENT: 7 August 2020
                                    </li>

                                    <li>
                                        NEWS: During the heavy rainfall over the
                                        monsoon period from 1 June to 18 August 2020, all 14 districts in Kerala were
                                    </li>
                                    <li>
                                        affected with 104 dead and 40 injured. Five
                                        districts in Kerala were flooded on 7 August 2020.
                                    </li>
                                    <li>
                                        DECLARING THE DECREE: God through Jesus Christ
                                        by the power of the Holy Spirit has given a sign of the revival prophesied to
                                        exalt His name because "salvation is found in no one else, for there is no other
                                        name under heaven given to mankind by which we must be saved." Amen.

                                    </li>
                                </ul>
                            </div>
                            <br>


                            <div class="blog-details__img mt-3">
                                <img src="assets/images/blog/3_Kerala_Flood_2022.jpg" alt="">
                            </div>


                            <h3 class="mt-3"> STATE: KERALA, INDIA </h3>

                            <div class="service-details__points-box mt-3">

                                <ul class="service-details__points-list list-unstyled">
                                    <li>


                                        VISION: JITHU CS received a message of knowledge to pray against rainfall and flood
                                        in Kerala especially Alapuzha and also saw a vision of thunderstorms and
                                        lightning due the heavy rainfall.
                                    </li>
                                    <li>
                                        DATE OF THE VISION: 4 April 2022
                                    </li>
                                    <li>
                                        DATE OF THE EVENTS: 4 April 2022, 2 August
                                        2022, 7 August 2022, 9 to 13 September 2022.
                                    </li>
                                    <li>
                                        DATE OF FULFILLMENT: 4 April 2022
                                    </li>
                                    <li>
                                        NEWS: Kerala witnessed a defecit rainfall
                                        compared to the year 2021 that claimed 67 lives by supercyclone, 53 in floods,
                                        heavy rain and landslides and five in lightning and thunderstorms. Extreme
                                    </li>
                                    <li>
                                        weather events claimed 32 lives in Kerala in
                                        2022. Of these, 30 persons died due to flooding and heavy rain and two in
                                        thunderstorms and lightning.
                                    </li>
                                    <li>
                                        DECLARING THE DECREE: God through Jesus Christ
                                        by the power of the Holy Spirit confirmed that if there a man to pray, then
                                        there is a true and living God who answer, to exalt His name because "salvation
                                        is found in no one else, for there is no other name under heaven given to
                                        mankind by which we must be saved." Amen.
                                    </li>
                                </ul>
                            </div>

                            <br>

                            <div class="blog-details__img mt-3">
                                <img src="assets/images/blog/4_Ommen_Chandy.jpg" alt="">
                            </div>


                            <h3 class="mt-3"> STATE: KERALA, INDIA </h3>
                            <div class="service-details__points-box mt-3">

                                <ul class="service-details__points-list list-unstyled">
                                    <li>

                                        VISION: JITHU CS received a word of knowledge concerning the then former Chief
                                        Minister of Kerala Shri. Oomen Chandy being affected by a chest pain, thus
                                        getting hospitalised.
                                    </li>
                                    <li>
                                        DATE OF THE VISION: 23 January 2023
                                    </li>
                                    <li>
                                        DATE OF THE EVENT: 6 February 2023
                                    </li>
                                    <li>
                                        DATE OF FULFILLMENT: 6 February 2023
                                    </li>
                                    <li>
                                        NEWS: Former Chief Minister Oommen Chandy was
                                        admitted to a private hospital at Neyyattinkara after he showed fever and chest
                                        infection symptoms. Despite the treatments, on various issues, Chandy succumbed
                                        to the disease and died on 18 July 2023 at the age of 79 due to

                                        complications from throat cancer.
                                    </li>
                                    <li>
                                        DECLARING THE DECREE: God through Jesus Christ
                                        by the power of the Holy Spirit confirms that whoever believe in Him shall not
                                        perish but has everlasting life to exalt His name because "salvation is found in
                                        no one else, for there is no other name under heaven given to mankind by which
                                        we must be saved." Amen.
                                    </li>
                                </ul>
                            </div>



                            <!-- <p class="blog-details__text-2">
                                God willing, the Holy Spirit will anoint JITHU CS to write in His time.
                            </p> -->

                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-5">
                    <app-blog-side></app-blog-side>
                </div>
            </div>
        </div>
    </section>
    <app-ipromise-footer></app-ipromise-footer>
</div>