   <!-- Sliding Text One Start -->
   <section class="sliding-text-one">
    <div class="section-shape-1" style="background-image: url(assets/images/shapes/section-shape-1.png);"></div>
    <div class="sliding-text-one__wrap">
        <ul class="sliding-text__list list-unstyled marquee_mode">
            <li>
                <h2 data-hover="GREAT VICTORIES" class="sliding-text__title" >GREAT VICTORIES
                    <img src="assets/images/icon/star-icon.png" alt="">
                </h2>
            </li>
            <li>
                <h2 data-hover="GREAT VICTORIES" class="sliding-text__title" >GREAT VICTORIES
                    <img src="assets/images/icon/star-icon.png" alt="">
                </h2>
            </li>
            <li>
                <h2 data-hover="GREAT VICTORIES" class="sliding-text__title" >GREAT VICTORIES
                    <img src="assets/images/icon/star-icon.png" alt="">
                </h2>
            </li>
            <li>
                <h2 data-hover="GREAT VICTORIES" class="sliding-text__title" >GREAT VICTORIES
                    <img src="assets/images/icon/star-icon.png" alt="">
                </h2>
            </li>
        </ul>
    </div>
</section>
<!-- Sliding Text One End -->