<div class="page-wrapper body-bg-color-1">
    <app-ipromise-header></app-ipromise-header>
    <div class="stricky-header stricked-menu main-menu main-menu-two">
        <div class="sticky-header__content"></div><!-- /.sticky-header__content -->
    </div><!-- /.stricky-header -->


    <!--Page Header Start-->
    <section class="page-header">
        <div class="section-shape-1" style="background-image: url(assets/images/shapes/section-shape-11.png);"></div>
        <div class="container">
            <div class="page-header__inner">
                <div class="page-header__title-box">
                    <p>RIM</p>
                    <h4>ABBA FATHER
                    </h4>
                </div>
                <div class="thm-breadcrumb__box">
                    <ul class="thm-breadcrumb list-unstyled">
                        <li><a href="">Home</a></li>
                        <li><span>/</span></li>
                        <li>ABBA FATHER
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!--Page Header End-->

    <section class="blog-details">
        <div class="section-shape-1" style="background-image: url(assets/images/shapes/blog-details-sec-shape-1.png);">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-7">
                    <div class="blog-details__left">
                        <div class="blog-details__img mt-3">
                            <img src="assets/images/blog/1_ABBAFATHER.jpg" alt="">
                        </div>
                        <div class="blog-details__content">
                            <div class="blog-details__meta-and-share">
                                <ul class="blog-details__meta list-unstyled">
                                    <li>
                                        <a href="#"><span class="icon-user"></span>By JITHU CS </a>
                                    </li>

                                </ul>
                                <div class="blog-details__share" style="position: relative;">
                                    <a href="#" onclick="copyCurrentURL(event)">
                                      <span class="fas fa-share-alt"></span>
                                    </a>
                                    <span id="tooltip" style="
                                        position: absolute;
                                        top: -30px;
                                        left: 50%;
                                        transform: translateX(-50%);
                                        background: #333;
                                        color: #fff;
                                        padding: 5px 10px;
                                        border-radius: 4px;
                                        font-size: 12px;
                                        opacity: 0;
                                        pointer-events: none;
                                        transition: opacity 0.3s ease;
                                      ">
                                      Copied!
                                    </span>
                                  </div>
                                  
                            </div>

                            <h3 class="blog-details__title-1 mt-3">ABBA FATHER</h3>
                           

                            <!-- <hr class="mt-3">
                            <div class="blog-details__img mt-3">
                                <img src="assets/images/blog/1_ABBAFATHER_Inside.jpg" alt="">
                            </div> -->

                            <h4 class="mt-3"> Matthew 3:17 New King James Version </h4>
                            <p class="blog-details__text-2 mt-3"> 17 And suddenly a voice came from heaven, saying,
                                “This is My beloved Son, in whom I am well
                                pleased.” </p>
                            <h4 class="mt-3">
                                Matthew 17:5 New King James Version </h4>
                            <p class="blog-details__text-2 mt-3"> 5 While he was still speaking, behold, a bright cloud
                                overshadowed them; and suddenly a
                                voice came out of the cloud, saying, “This is My beloved Son, in whom I am well pleased.
                                Hear Him!” </p>
                            <h4 class="mt-3">
                                Romans 8:19 New King James Version </h4>
                            <p class="blog-details__text-2 mt-3"> 19 For the earnest expectation of the creation eagerly
                                waits for the revealing of the sons
                                of God. </p>

                            <p class="blog-details__text-2 mt-3"> God willing the Holy Spirit will anoint JITHU CS to write
                                in His time.
                            </p>


                        

                        </div>

                        <!-- <div class="blog-details__tag-box">
                                <p class="blog-details__tag-title">Tags :</p>
                                <div class="blog-details__tag-list">
                                    <a href="#">Graphics</a>
                                    <a href="#">Cargo</a>
                                    <a href="#">Blog</a>
                                </div>
                            </div> -->

<app-rim-comments></app-rim-comments>

                    </div>
                </div>
                <div class="col-xl-4 col-lg-5">
                    <app-blog-side></app-blog-side>
                    <div class="service-details__contact-box">
                        <h3 class="service-details__title">PRAY FOR A TRUE REVIVAL</h3>
                        <div class="service-details__icon">
                       <img src="assets/images/icon/PRAY.png" style="width: 90px;">
                        </div>
                        <p class="service-details__text">PLEASE CLICK TO DOWNLOAD A FREE REVIVAL PRAYER MAP</p>
                        <!-- <p class="service-details__number"><a href="tel:7034001777">+91 7034 001 777</a></p> -->
                    </div>
                    <div class="service-details__download-box">
                        <div class="icon">
                            <span class="icon-download"></span>
                        </div>
                        <a href="assets/images/backgrounds/PRAYER _MAP.jpg" download>DOWNLOAD </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <app-ipromise-footer></app-ipromise-footer>
</div>