<footer class="site-footer">
    <div class="site-footer__shape-1 float-bob-x">
        <img src="assets/images/shapes/site-footer-shape-1.png" alt="">
    </div>
    <div class="site-footer__shape-2 float-bob-y">
        <img src="assets/images/shapes/site-footer-shape-2.png" alt="">
    </div>

    <div class="site-footer__marquee">
        <ul class="marquee_mode">
            <li>TREASURES OF DARKNESS</li>
            <li>TREASURES OF DARKNESS</li>
            <li>TREASURES OF DARKNESS</li>
        </ul>
    </div>

    <div class="container text-center">
        <div class="site-footer__top">
            <div class="row">
                <!-- Logo Row -->
                <div class="col-lg-12 col-md-12 mb-3">
                    <div class="footer-widget__column footer-widget__about">
                        <div class="footer-widget__logo">
                            <a href="index.html">
                                <img src="assets/images/resources/about-one-design-make-img-2.jpg" alt="">
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Menu Row -->
                <div class="col-lg-12 col-md-12 mb-3">
                    <div class="footer-widget__column">
                        <ul
                            class="site-footer__bottom-menu d-flex justify-content-center flex-wrap gap-3 list-unstyled p-0 m-0">
                            <li><a href="" style="color:#9B870C;font-weight: bold;">RIM</a></li>

                            <!-- Icon image inserted here -->


                            <li><a href="jcs" style="color:#9B870C;font-weight: bold;">JCS</a></li>
                            <li><a href="apostolic" style="color:#9B870C;font-weight: bold;">APOSTOLIC</a></li>
                            <li><a href="prophetic" style="color:#9B870C;font-weight: bold;">PROPHETIC</a></li>
                            <li><a href="ministry" style="color:#9B870C;font-weight: bold;">MINISTRY</a></li>
                            <li><a href="message" style="color:#9B870C;font-weight: bold;">MESSAGE</a></li>
                            <li><a href="meeting" style="color:#9B870C;font-weight: bold;">MEETING</a></li>
                        </ul>
                    </div>
                </div>

            </div>

            <div class="footer-widget__column footer-widget__instagram">
                <div class="footer-widget__column footer-widget__instagram">
                    <ul class="footer-widget__instagram-list d-flex justify-content-center align-items-center list-unstyled p-0 m-0"
                        style="gap: 0;">
                     
                        <a href="https://www.threads.net/@rimjcs"> <img
                            src="assets/images/resources/footer-6.png" alt=""
                            style="margin-right: 10px; width: 50px; display: block;border: 2px solid #9B870C;"></a>

                        <a href="https://www.instagram.com/rimjcs/"> <img src="assets/images/resources/footer-5.png"
                                alt=""
                                style="margin-right: 10px; width: 50px; display: block;border: 2px solid #9B870C;"></a>

                        <a href="https://wa.me/917034001777?text= Hi RIM,"> <img
                                src="assets/images/resources/footer-4.png" alt=""
                                style="margin-right: 10px; width: 50px; display: block;border: 2px solid #9B870C;"></a>

                        <img src="assets/images/resources/footer-1.png" alt=""
                            style="margin-right: 10px; width: 50px; display: block;border: 2px solid #9B870C;">

                        <a href="https://www.facebook.com/profile.php?id=61577091874658"> <img
                                src="assets/images/resources/footer-2.png" alt=""
                                style="margin-right: 10px; width: 50px; display: block;border: 2px solid #9B870C;"></a>

                                

                    </ul>
                </div>
            </div>
        </div>
        <!-- Copyright Row -->
        <div class="site-footer__bottom mt-4">
            <div class="site-footer__bottom-inner d-flex justify-content-center align-items-center flex-wrap">
                <p class="site-footer__bottom-text mb-0" style="color: #9B870C;">
                    © 2025 Copyright <a href="#">ROYAL INTERNATIONAL MINISTRIES</a> | All rights reserved
                </p>
            </div>
        </div>
    </div>
</footer>