
    <div class="sidebar">
        
        <div class="sidebar__single sidebar__post">
            <h3 class="sidebar__title">Latest Post</h3>
            <ul class="sidebar__post-list list-unstyled">
                
                <li>
                    <div class="sidebar__post-image">
                        <img src="assets/images/blog/1_ABBAFATHER.jpg" alt="" style="width: 73px; height: 63px;">
                    </div>
                    <div class="sidebar__post-content">
                        <p class="sidebar__post-date"><span class="icon-calendar"></span>July 07,
                            2025</p>
                        <h3>
                            <a href="abba-father">ABBA FATHER</a>
                        </h3>
                    </div>
                </li>

                <li>
                    <div class="sidebar__post-image">
                        <img src="assets/images/blog/2_JESUS.jpg" alt="" style="width: 73px; height: 63px;">
                    </div>
                    <div class="sidebar__post-content">
                        <p class="sidebar__post-date"><span class="icon-calendar"></span>July 07,
                            2025</p>
                        <h3>
                            <a href="jesus-christ">JESUS CHRIST</a>
                        </h3>
                    </div>
                </li>

                <li>
                    <div class="sidebar__post-image">
                        <img src="assets/images/blog/3_THE%20HOLY%20SPIRIt.jpg" alt="" style="width: 73px; height: 63px;">
                    </div>
                    <div class="sidebar__post-content">
                        <p class="sidebar__post-date"><span class="icon-calendar"></span>July 07,
                            2025</p>
                        <h3>
                            <a href="holy-spirit">HOLY SPIRIT</a>
                        </h3>
                    </div>
                </li>
            </ul>
        </div>
      
   

        <div class="sidebar__single sidebar__all-category" style="display: none;">
            <h3 class="sidebar__title">Categories</h3>
            <ul class="sidebar__all-category-list list-unstyled">
                <li>
                    <a href="#">New Technologies<span>(07)</span></a>
                </li>
                <li>
                    <a href="#">Construction Introductions<span>(05)</span></a>
                </li>
                <li>
                    <a href="#">Instralation Accecories<span>(03)</span></a>
                </li>
                <li>
                    <a href="#">Business Advice<span>(07)</span></a>
                </li>
                <li>
                    <a href="#">Payment Processing<span>(08)</span></a>
                </li>
                <li>
                    <a href="#">Corporate Standup<span>(04)</span></a>
                </li>
            </ul>
        </div>
       
    </div>
