<div class="page-wrapper body-bg-color-1">
    <app-ipromise-header></app-ipromise-header>
    <div class="stricky-header stricked-menu main-menu main-menu-two">
        <div class="sticky-header__content"></div><!-- /.sticky-header__content -->
    </div><!-- /.stricky-header -->


    <!--Page Header Start-->
    <section class="page-header">
        <div class="page-header__bg" style="background-image: url(assets/images/backgrounds/page-header-bg.jpg);">
            <div class="page-header__bg-overlay"></div>
        </div>
        <div class="container">
            <div class="page-header__inner">
                <div class="page-header__title-box">
                    <h3>Contact</h3>
                </div>
                <div class="thm-breadcrumb__box">
                    <ul class="thm-breadcrumb list-unstyled">
                        <li><a href="">Home</a></li>
                        <li><span>/</span></li>
                        <li class="active">Contact</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!--Page Header End-->
    <br>

    <!--Contact Info Start-->
    <section class="contact-info-section">
        <div class="container">

            <div class="row">
                <div class="col-xl-4">
                    <div class="single-contact-info-section">
                        <div class="icon">
                            <i class=" icon-pin"></i>
                        </div>
                        <div class="single-contact-info-section__content">
                            <div class="text">
                                <h3>CORPORATE OFFICE</h3>
                                <p>SHADES OF BROWN
                                    NO: 12
                                    Kowadiar Gardens - A
                                    Golflinks, Kowadiar
                                    Thiruvananthapuram 
                                    Kerala - 695003.</p>
                            </div>
                           
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="single-contact-info-section">
                        <div class="icon">
                            <i class="icon-pin"></i>
                        </div>
                        <div class="single-contact-info-section__content">
                            <div class="text">
                                <h3>PROJECT OFFICE</h3>
                                <p>SHADES OF BROWN
                                    33/3999
                                    Golflink Road
                                   NH 66 - Pachakk Jn.
                                    Malaparamp, Kozhikode 
                                    Kerala - 673009</p>
                            </div>
                          
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="single-contact-info-section">
                        <div class="icon">
                            <i class="icon-pin"></i>
                        </div>
                        <div class="single-contact-info-section__content">
                            <div class="text">
                                <h3>FACTORY</h3>
                                <p> SHADES OF BROWN <br>
                                    6/343-A
                                 Mundakkal Road
                                    Poovattuparamba
                                    Kozhikode
                                    Kerela, 673008</p>
                            </div>
                           
                        </div>
                    </div>
                </div>
           

            </div>

        </div>
    </section>
    <!--Contact Info End-->


     <!--Contact Page Start-->
     <section class="contact-page">
        <div class="section-shape-1" style="background-image: url(assets/images/shapes/section-shape-1.png);"></div>
        <div class="container">
            <div class="contact-page__inner">
                <div class="row">
                    <div class="col-xl-5 col-lg-5">
                        <div class="contact-page__left">
                            <div class="contact-page__information">
                                <h3 class="contact-page__information-title">SHADES OF BROWN <br>Contact Informatlon</h3>
                                <ul class="contact-page__information-list list-unstyled">
                                    <li>
                                        <div class="icon">
                                            <span class="icon-pin"></span>
                                        </div>
                                        <div class="content">
                                            <h3>Address</h3>
                                            <p> NO: 12
                                                Kowadiar Gardens - A <br>
                                                Golflinks, Kowadiar <br>
                                                Thiruvananthapuram - 695003 </p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <span class="icon-trading"></span>
                                        </div>
                                        <div class="content">
                                            <h3>Contact Namber</h3>
                                            <p><a href="tel:9747102255">+91 9747 10 2255</a></p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <span class="icon-envelope-1"></span>
                                        </div>
                                        <div class="content">
                                            <h3>Email Us</h3>
                                            <p><a href="mailto:info&#64;sobindia.com">info&#64;sobindia.com</a> <br>
                                                <a href="mailto:ceo&#64;sobindia.com">ceo&#64;sobindia.com</a>
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>


                    <div class="col-xl-7 col-lg-7">
                        <div class="contact-page__right">
                            <h3 class="contact-page__contact-title">Get A Quote</h3>
                            <form id="contact-form" class="contact-page__form" action="assets/mail.php" method="POST">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="contact-page__input-box">
                                            <input type="text" name="name" placeholder="Your name" required="">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="contact-page__input-box">
                                            <input type="email" name="email" placeholder="Your Email" required="">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="contact-page__input-box">
                                            <input type="number" placeholder="Mobile" name="number">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="contact-page__input-box">
                                            <input type="text" placeholder="Company" name="company">
                                        </div>
                                    </div>
                                    <div class="col-xl-12">
                                        <div class="contact-page__input-box text-message-box">
                                            <textarea name="message" placeholder="Messege"></textarea>
                                        </div>
                                        <div class="contact-page__btn-box">
                                            <button type="submit" class="thm-btn contact-page__btn"
                                                data-loading-text="Please wait...">
                                                Get Started
                                                <span class="icon-up-right-arrow"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <p class="ajax-response mb-0 error"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Contact Page End-->

    <!--Google Map Start-->
    <section class="google-map-one">
        <div class="section-shape-1" style="background-image: url(assets/images/shapes/section-shape-1.png);"></div>
     


            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3945.803502366193!2d76.96060779999999!3d8.5184502!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b05bbd3b06b1a79%3A0x4b09420b96314340!2sSHADES%20OF%20BROWN!5e0!3m2!1sen!2sin!4v1737184108175!5m2!1sen!2sin"
            class="google-map__one" allowfullscreen loading="lazy"></iframe>
    </section>
    <!--Google Map End-->

    <!--Site Footer Start-->
<app-ipromise-footer></app-ipromise-footer>
    <!--Site Footer End-->


</div>