.section-title__title {
    color: var(--tecture-white);
    font-size: 75px !important;
    line-height: 64px;
    font-weight: 700 !important;
    ;
    text-transform: uppercase;
}

.thm-btn {
    font-size: 25px !important;
}



.main-slider .owl-theme .owl-nav {
    color: #9B870C !important;
}

html {
    scroll-behavior: smooth;
  }