<div class="page-wrapper body-bg-color-1">
    <app-ipromise-header></app-ipromise-header>

    <section class="page-header">
        <div class="section-shape-1" style="background-image: url(assets/images/shapes/section-shape-11.png);"></div>
        <div class="container">
            <div class="page-header__inner">
                <div class="page-header__title-box">
                    <p>Royal International Ministries</p>
                    <h3>MESSAGE</h3>
                </div>
                <div class="thm-breadcrumb__box">
                    <ul class="thm-breadcrumb list-unstyled">
                        <li><a href="">RIM</a></li>
                        <li><span>/</span></li>
                        <li>MESSAGE</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!--Blog Details Start-->
    <section class="blog-details">
        <div class="section-shape-1" style="background-image: url(assets/images/shapes/blog-details-sec-shape-1.png);">
        </div>
        <div class="auto-container">
            <div class="row">
                <div class="col-xl-8 col-lg-7">
                    <div class="blog-page-content">
                    

                        <div class="blog-two-single">
                            <div class="img-box">
                                <img src="assets/images/blog/1_ABBAFATHER.jpg" alt="Image">
                            </div>
                            <div class="content-box">
                                <div class="meta-box">
                                    <div class="date-box">
                                        <h3>07</h3>
                                        <p>JULY 2025</p>
                                    </div>
                                    <ul class="meta-info list-unstyled">
                                        <li>
                                            <a href="#">
                                                <span class="icon-user"></span>
                                                JITHU JCS
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="title-box">
                                    <h3>
                                        <a href="abba-father">
                                            ABBA FATHER</a>
                                    </h3>
                                </div>

                                <div class="btn-box">
                                    <a href="abba-father" class="thm-btn">
                                        OPEN
                                        <span class="icon-up-right-arrow"></span>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="blog-two-single">
                            <div class="img-box">
                                <img src="assets/images/blog/2_JESUS.jpg" alt="Image">
                            </div>
                            <div class="content-box">
                                <div class="meta-box">
                                    <div class="date-box">
                                        <h3>07</h3>
                                        <p>JULY 2025</p>
                                    </div>
                                    <ul class="meta-info list-unstyled">
                                        <li>
                                            <a href="#">
                                                <span class="icon-user"></span>
                                                JITHU JCS
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="title-box">
                                    <h3>
                                        <a href="jesus-christ">
                                            JESUS CHRIST</a>
                                    </h3>
                                </div>

                                <div class="btn-box">
                                    <a href="jesus-christ" class="thm-btn">
                                        OPEN
                                        <span class="icon-up-right-arrow"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="blog-two-single">
                            <div class="img-box">
                                <img src="assets/images/blog/3_THE%20HOLY%20SPIRIt.jpg" alt="Image">
                            </div>
                            <div class="content-box">
                                <div class="meta-box">
                                    <div class="date-box">
                                        <h3>07</h3>
                                        <p>JULY 2025</p>
                                    </div>
                                    <ul class="meta-info list-unstyled">
                                        <li>
                                            <a href="#">
                                                <span class="icon-user"></span>
                                                JITHU JCS
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="title-box">
                                    <h3>
                                        <a href="holy-spirit">
                                            HOLY SPIRIT</a>
                                    </h3>
                                </div>

                                <div class="btn-box">
                                    <a href="holy-spirit" class="thm-btn">
                                        OPEN
                                        <span class="icon-up-right-arrow"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-5">
                    <app-blog-side></app-blog-side>
                </div>
            </div>
        </div>
    </section>
<app-rim-section-a></app-rim-section-a>
    <app-rim-section-c></app-rim-section-c>
    <!--Blog Details End-->
    <app-ipromise-footer></app-ipromise-footer>
</div>