<div class="page-wrapper body-bg-color-1">

    <app-ipromise-header></app-ipromise-header>

    <section class="page-header">
        <div class="section-shape-1" style="background-image: url(assets/images/shapes/section-shape-11.png);"></div>
        <div class="container">
            <div class="page-header__inner">
                <div class="page-header__title-box">
                    <p>Royal International Ministries</p>
                    <h3>MESSAGE</h3>
                </div>
                <div class="thm-breadcrumb__box">
                    <ul class="thm-breadcrumb list-unstyled">
                        <li><a href="">RIM</a></li>
                        <li><span>/</span></li>
                        <li>MESSAGE</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="blog-details">
        <div class="section-shape-1" style="background-image: url(assets/images/shapes/blog-details-sec-shape-1.png);"></div>

        <div class="auto-container">
            <div class="row">

                <div class="col-xl-8 col-lg-7">
                    <div class="blog-page-content">

                        <!-- PAGINATED BLOG ITEMS -->
                        @for (usr of paginatedData; track usr) {
                        <div class="blog-two-single">

                            <div class="img-box">
                                <img src="{{usr.imagePath}}" alt="Image" height="560">
                            </div>

                            <div class="content-box">
                                <div class="meta-box">
                                    <div class="date-box">
                                        <p>{{usr.created_date}}</p>
                                    </div>

                                    <ul class="meta-info list-unstyled">
                                        <li>
                                            <a href="#">
                                                <span class="icon-user"></span>
                                                JITHU CS
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="title-box">
                                    <h3>
                                        <a href="blog/{{usr.USER_NAME}}">
                                            {{usr.USER_NAME}}
                                        </a>
                                    </h3>
                                </div>

                                <div class="btn-box">
                                    <a href="blog/{{usr.USER_NAME}}" class="thm-btn">
                                        OPEN <span class="icon-up-right-arrow"></span>
                                    </a>
                                </div>

                            </div>
                        </div>
                        }

                        <!-- PAGINATION BUTTONS -->
                        <div class="pagination mt-4 text-center">

                            <button 
                                (click)="prevPage()" 
                                [disabled]="page === 1"
                                class="btn btn-primary mx-2">
                                Prev
                            </button>

                            <span class="mx-3">Page {{ page }}</span>

                            <button 
                                (click)="nextPage()" 
                                [disabled]="(page * pageSize) >= Product.length"
                                class="btn btn-primary mx-2">
                                Next
                            </button>

                        </div>

                    </div>
                </div>

                <div class="col-xl-4 col-lg-5">
                    <app-blog-side></app-blog-side>
                </div>

            </div>
        </div>
    </section>

    <app-rim-section-a></app-rim-section-a>
    <app-rim-section-c></app-rim-section-c>
    <app-ipromise-footer></app-ipromise-footer>

</div>
