     <!-- Awards One Start -->
     <section class="awards-one">
        <div class="section-shape-1" style="background-image: url(assets/images/shapes/section-shape-1.png);"></div>
        <div class="container">
            <div class="section-title sec-title-animation animation-style2">
                <h2 class="section-title__title title-animation">THE PROPHETIC</h2>
            </div>
            <div class="row">
                <div class="col-xl-7">
                    <div class="awards-one__left">
                        <ul class="list-unstyled awards-one__list">
                            <li class="wow fadeInLeft" data-wow-delay="100ms">
                                <div class="awards-one__title-box">
                                    <div class="awards-one__title-circle-box">
                                        <p>I.</p>
                                    </div>
                                    <h2 class="awards-one__title"> SUPERNATURAL</h2>
                                </div>

                                <div class="awards-one__arrow">
                                    <a href="supernatural"><span class="icon-up-right-arrow-1" style="color:#9B870C;"></span></a>
                                </div>
                            </li>
                            <li class="wow fadeInLeft" data-wow-delay="200ms">
                                <div class="awards-one__title-box">
                                    <div class="awards-one__title-circle-box">
                                        <p>II.</p>
                                    </div>
                                    <h2 class="awards-one__title">FILMSTARS</h2>
                                </div>

                                <div class="awards-one__arrow">
                                    <a href="superstars"><span class="icon-up-right-arrow-1" style="color:#9B870C;"></span></a>
                                </div>
                            </li>
                            <li class="wow fadeInLeft" data-wow-delay="400ms">
                                <div class="awards-one__title-box">
                                    <div class="awards-one__title-circle-box">
                                        <p>III.</p>
                                    </div>
                                    <h2 class="awards-one__title">BIGWIG</h2>
                                </div>

                                <div class="awards-one__arrow">
                                    <a href="bigwig"><span class="icon-up-right-arrow-1" style="color:#9B870C;"></span></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-5">
                    <div class="awards-one__right wow slideInRight" data-wow-delay="100ms"
                        data-wow-duration="2500ms">
                        <div class="awards-one__img-box">
                            <div class="awards-one__img">
                                <img src="assets/images/resources/awards-one-img-1.jpg" alt="">
                            </div>
                            <!-- <div class="awards-one__img-two">
                                <img src="assets/images/resources/awards-one-img-2.jpg" alt="">
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Awards One End -->