.section-title__title {
    color: var(--tecture-white);
    font-size: 70px !important;
    line-height: 64px;
    font-weight: 600;
    text-transform: uppercase;
}
section{
    background-color: #000;}