<div class="page-wrapper body-bg-color-1">
    <app-ipromise-header></app-ipromise-header>

    <!-- Page Header -->
     <section class="page-header">
        <div class="section-shape-1" style="background-image: url(assets/images/shapes/section-shape-11.png);"></div>
        <div class="container">
            <div class="page-header__inner">
                <div class="page-header__title-box">
                    <p>Royal International Ministries</p>
                    <h3>BLOG</h3>
                </div>
                <div class="thm-breadcrumb__box">
                    <ul class="thm-breadcrumb list-unstyled">
                        <li><a href="">RIM</a></li>
                        <li><span>/</span></li>
                        <li>BLOG</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Blog Details -->
    <section class="blog-details">
        <div class="container">
            <div class="row">

                <!-- LEFT CONTENT -->
                <div class="col-xl-8 col-lg-7">
                    <div class="blog-details__left">

                        <!-- IMAGES -->
                        <div *ngIf="images && images.length" class="mt-4">
                            <div *ngFor="let img of images" class="mb-3">
                                <img
                                    [src]="img.base64 ? img.base64 : baseUrl + img.path"
                                    class="img-fluid w-100"
                                    style="object-fit: cover;"
                                />
                            </div>
                        </div>

                        <!-- HTML CONTENT -->
                        <div *ngIf="sanitizedData && sanitizedData.length" id="blogcontent">
                            <div *ngFor="let report of sanitizedData" class="mb-3">
                                <div [innerHTML]="report"></div>
                            </div>
                        </div>

                        <!-- COMMENTS -->
                        <app-rim-comments></app-rim-comments>

                    </div>
                </div>

                <!-- RIGHT SIDEBAR -->
                <div class="col-xl-4 col-lg-5">
                    <app-blog-side></app-blog-side>

                    <div class="service-details__contact-box text-center">
                        <h3>PRAY FOR A TRUE REVIVAL</h3>
                        <img src="assets/images/icon/PRAY.png" style="width:90px">
                        <p>PLEASE CLICK TO DOWNLOAD A FREE REVIVAL PRAYER MAP</p>
                    </div>

                    <div class="service-details__download-box">
                        <a href="assets/images/backgrounds/PRAYER_MAP.jpg" download>
                            DOWNLOAD
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <app-ipromise-footer></app-ipromise-footer>
</div>
